* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  max-width: 720px;
  border-radius: 8px;
}

#appHeader {
  display: flex;
  justify-content: center;
}

#todo-list {
  min-height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #dadada;
}

.todo-item {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 0 10px;
  border-radius: 5px;
}

.todo-item > * {
  height: 100%;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.checkToDo {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.descriptionWrapper {
  border-right: 2px solid;
  border-left: 2px solid;
  display: flex;
  align-items: center;
  word-break: break-all;
  animation: unmarkdone 0.3s linear;
  text-decoration: line-through;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
}

.descriptionWrapper.done {
  color: #95a5a6;
  animation: markdone 0.3s linear;
  text-decoration-color: #000;
}

@keyframes markdone {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: auto;
  }
}
@keyframes unmarkdone {
  from {
    text-decoration-color: black;
  }
  to {
    text-decoration-color: transparent;
  }
}

.deleteToDo {
  border-radius: 0;
  padding: 0;
}

.deleteToDo:hover {
  background-color: #e43725;
  color: #fff;
}

.deleteToDo > img {
  width: 100%;
  height: 65%;
}
